.inputWrapper {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.inputLabel {
	font-size: 20px;
	color: var(--foreground);
	padding: 8px 0;
}

.inputField {
	font-size: 20px;
	padding: 1rem;
	background-color: var(--bg-dm);
	border: none;
	outline: none;
	border-radius: var(--border-radius);
}



.inputField:focus {
	outline: 1px solid var(--primary);
	background-color: var(--primary-dm);
}


.errorMessage {
	text-align: center;
	color: red;
	font-weight: bold;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35rem;
	margin-top: 2rem;
}



@media only screen and (max-width: 767px) {
	.formContainer {
		width: 100%;

	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.formContainer {}
}
