:root {
  --background: #f1f3f3;
  --foreground: #050506;
  --primary: #6289FF;
  --border-radius: 9px;
  --bg-dm: #FFFFFF;
  --text-dm: #636a76;
  --primary-hsl: 940;
  --previewCard-bg-color: #FFFFFF;
  --card-border-color: #FFFFFF;
  --sk-tag-color: #1c253b;
  --summary-color: #5c5c5c;
  --navbar-bg-color: #FFFFFF;
  --skeleton-color: #b8b8b8;
  --skeleton-light: #cfcccc;
  --dark-bg: #0a0a0a;
  --dark-card: #1a1a1a;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
}

html.dark {
  --background: #0A0D14;
  --foreground: #ffffff;
  --primary: #6289FF;
  --border-radius: 9px;
  --bg-dm: #0E131E;
  --text-dm: #9896a3;
  --primary-hsl: 222;
  --primary-dm: #162138;
  /* --previewCard-bg-color: #151e30; */
  --previewCard-bg-color: #131a28;
  --card-border-color: #242A38;
  --summary-color: #d5e9ef;
  --navbar-bg-color: #0E131E;
  --skeleton-color: #273352;
  --skeleton-light: #303e63
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
