.tab {
	color: rgba(255, 255, 255, 1);
	font: 400 13px Inter, sans-serif;
	background: none;
	border: none;
	cursor: pointer;
	padding: 8px 16px;
}

.active {
	border-bottom: 2px solid rgba(98, 137, 255, 1);
}
