.signInContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}


.header {
	font-size: calc(2rem + 1vw);
	text-align: center;
}

.subHeader {
	font-size: 20px;
	padding-top: 1rem;
	text-align: center;
	font-weight: normal;
	color: var(--text-dm);
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35rem;
	margin-top: 2rem;
}

.optionsContainer {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
}

.checkbox {
	margin-right: 10px;
}

.optionsContainer a {
	color: var(--foreground);
	text-decoration: none;
}


.signInButton {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding: 1rem;
	margin-top: 4rem;
	background-color: var(--primary);
	border-radius: var(--border-radius);
	border: none;
	outline: none;
}

.signUpPrompt {
	padding-top: 4rem;
	text-align: center;
	color: var(--text-dm);
}

/* Mobile devices (portrait, less than 768px) */
@media only screen and (max-width: 767px) {

	.signInContainer {
		padding: 0 1rem;
		padding-top: 3rem;
		justify-content: initial;
	}

	.formContainer {
		width: 100%;

	}
}

/* Tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.signInContainer {
		padding: 0 1rem;
	}

	.formContainer {}
}
